/.vscode
/age.py
/area.py
/arthmetic.py
/ass.py
/assingments.py
/billcallculator.py
/career_guide.py
/coments.py
/comp.py
/contest.py
/cws cert.py
/hello.py
/logical.py
/max_2 num.py
/nested.py
/ran1.py
/rock paper sissors.py
/rps.html
/save.py
/secrenum.py
/var.py